@import "../settings/colors";

// menu styles (
.nav {
  // border: 1px solid red;

  &[aria-hidden="false"] {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
    background-color: $c-white;
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(21, 21, 21, 0.08);

    @media (min-width: 40rem) {
      width: 80%;
      left: 20%;
    }
  }

  ul {
    margin-bottom: 0;
  }

  &__global-links {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    background-color: $c-white;
    
    @media (min-width: 45rem) {
      flex-direction: row;
      align-items: center;
      gap: 1.5rem;
    }
  }

  .dropdown-toggle {
    background-color: $c-white;
    border: none;
    border-radius: 0rem;
    color: $c-black;
    text-align: left;
    padding: 0;
  }

  .dropdown-menu {
    // border: 1px solid green;
    list-style-type: none;
    padding: 0.5rem 0;
    background-color: $c-white;
    border: none;
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(21, 21, 21, 0.08);
  
    .dropdown-item {
      // border: 1px solid red;
      transition: all 100ms ease-in-out; 

      &:hover {
        background-color: $c-purple;
        color: $c-white;
      }
    }
  }

  &__user-links {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0.5rem 0 0;
    gap: 0.5rem;
    height: 100%;

    @media (min-width: 45rem) {
      flex-direction: row;
      padding: 0 0.5rem;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &[aria-hidden="true"] {
    display: none;

    @media (min-width: 45rem) {
      display: flex;
      position: absolute;
      width: calc(100% - 8rem);
      max-width: 72rem;
      top: 0;
      right: 0;
      flex-direction: row;
      height: 4.5rem;
      justify-content: space-between;
      // border: 1px solid red;
    }
  }
};
