$c-white: hsl(0, 0%, 98%);
$c-black: hsl(0, 0%, 8%);
$c-gray: hsl(0, 0%, 41%);
$c-purple: #8E4CB6;
$c-yellow: #EDD656;
$c-dark-blue: #726DEE;
$c-light-blue: #4BB0DA;

// COLORS (override Bootstrap colors)
$body-bg: $c-white;
$body-color: $c-black;
$link-color: $c-gray;
$link-hover-color: $c-black;

// in the open dropdown menus
$dropdown-bg: $c-white;
$dropdown-link-color: $c-gray;
$dropdown-link-hover-color: $c-purple;


