$c-white: #fafafa;
$c-black: #151515;
$c-purple: #8E4CB6;
$c-yellow: #EDD656;
$c-dark-blue: #726DEE;
$c-light-blue: #4BB0DA;

// COLORS (override Bootstrap colors)
$body-bg: $c-white;
$body-color: $c-black;
$link-color: $c-dark-blue;
$link-hover-color: $c-purple;

// in the open dropdown menus
$dropdown-bg: $c-white;
$dropdown-link-color: $c-dark-blue;
$dropdown-link-hover-color: $c-purple;


